/* Base */
@import "base/normalize";
@import "base/resets";

/* Mixins */
@import "mixins";

/* Compass */
$experimental-support-for-opera: false;
$experimental-support-for-mozilla: false;
$experimental-support-for-microsoft: false;
@import "compass";

/* Variables */
$pageWidth: 320px;

// Colors
$basicBorderColor: #656565;
$primaryBorderColor: #f121a0;
$primaryTextColor: #ff00a2;

// for grunt-replace
// CSS内から呼び出している画像のキャッシュを管理したい場合に、パスの後ろに付ける
// $timestamp: "?@@timestamp";

/* Elements */
body {
  color: #444444;
  // @include Hiragino;
  line-height: 1.5;
  font-size: 14px;
  background-color: #FFFFFF;
  // background-image: url("../img/bg.png");
  //@include background-size(150px 150px);
}

a {
  text-decoration: none;
  color: inherit;
}

strong,
.strong {
  color: $primaryTextColor;
}

* {
  zoom: 1;
}
/*
# Modules
*/
// @import "display/large";
// @import "display/middle";
// @import "display/small";


/*
# 共通のベーススタイルの定義。
*/
$footerHeight: 30px;
#page {
  min-height: 300px - $footerHeight;
}

ol {
  padding-left: 22px;
}
ol ol {
  padding-left: 16px;
  list-style-type: lower-roman;
}
ol li {
  margin-top: 8px;
}

.main {
  width: 100%;
  // width: 1020px;
  margin: auto;
}

.btn {
  cursor: pointer;
}

/*
# Media

画像とテキスト（またその他）が並ぶパターン。

```
<div class="media clearfix>
  <img src="..." width="94" height="94" class="media-img">
  <p class="media-body">ここに文章がはいる</p>
</div>
```
*/
.media{
  @extend .clearfix;
  display:block;
}
.media-img {
  float:left;
  margin-right: 10px;
  &.right { // Reverse
    margin-right: 0;
    margin-left: 10px;
  }
  > img {
    display:block;
  }
}
.media-body{
  overflow:hidden;
}


/*
# Header
*/
#header {
  // height: 622px;
}

.img-main {
  // min-width: 1020px;
  // height: 622px;
  position: relative;
  background: url('../img/bg_main.jpg') no-repeat 50%;
  // @include opacity(0);
  // text-indent: -9999px;
}

.gnavi {
  width: 100%;
  // height: 54px;
  // min-width: 1020px;
  // position: absolute;
  // bottom: 0;
  // background: url('../img/bg_gnavi.png') repeat-x;
  background-color: #b0e106;
  text-align: center;
  line-height: 0;
}

.gnavi__list {
  // width: 1020px;
  margin: auto;
  display: inline-block;

  li {
    margin-right: 2px;
    float: left;
  }
  a {
    display: block;
    background-color: #9c3;
  }
}

.logo {
  margin: 9px 128px 0 20px;
  display: block;
  // position: absolute;
}

.gnavi__fixed {
  top: 0;
  position: fixed;
  z-index: 50;
}

.sns-button {
  float: right;
  padding: 16px 0 0 35px;
}

.twitter {
  // margin-left: 80px;
  float: left;
}

.facebook {
  width: 82px;
  float: left;
  overflow: hidden;
}

/*
# Page
*/

.page {
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  // background-color: #FFF8FD;
  // @media (min-width: 321px) {
    // @include box-shadow(0 0 2px #CCC);
  // }
}

.section {
  h2 {
    text-align: center;
    img {
      margin: auto;
    }
  }
}

/*
# 前へボタン 次へボタン
*/
.btn-prev,
.btn-next,
.btn-prev-pop,
.btn-next-pop {
  position: absolute;
  // top: 238px;
  font-size: 130%;
  cursor: pointer;
  z-index: 20;
}

.btn-prev {
  left: 60px;
}
.btn-next {
  right: 60px;
}

.btn-prev-pop {
  left: 16px;
}
.btn-next-pop {
  right: 18px;
}

/*
# スライドエリア
*/
.slide__base {
  width: 100%;
  // min-width: 1020px;
  overflow: hidden;
}

.slide__area {
  width: 4000px;
  margin: auto;
  position: relative;
  li {
    width: 900px;
    // height: 552px;
    text-align: center;
  }
}

.slide__btn {
  // width: 1020px;
  margin: auto;
  position: relative;
}

.img-block {
  position: absolute;
  overflow: hidden;
}

.slide__hover {
  @include vendor(transform, scale(1.5));
}

.item {
  position: relative;
  float: left;
}

/*
# 開閉エリア
*/
.open-close {
  width: 100%;
  min-width: $pageWidth;
  // background: url("../img/section2/bg_photo.jpg") no-repeat 50%;
}

.open-close__base {
  width: 100%;
  overflow: hidden;
  background-color: #87cefa;
}

.open-close__btn {
  width: $pageWidth;
  // height: 737px;
  margin: auto;
  img {
    padding: 10px;
  }
  h3 {
    padding: 10px;
  }
}

.open-close__wrapper,
.open-close__contents {
  width: $pageWidth;
  margin: auto;
}

.open-close__border {
  // width: $pageWidth;
  // margin: auto;
  // height: 1px;
  border-top: 1px solid #fff;
}

.arrow-open {
  width: 36px;
  height: 36px;
  margin: 4px;
  float: right;
  display: block;
  background: url("../img/arrow-open.png") no-repeat;
  @include background-size(36px 36px);
}

.arrow-close {
  background: url("../img/arrow-close.png") no-repeat;
  @include background-size(36px 36px);
}

/*
# ポップアップ
*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  @include opacity(0);
}

.overlay-show {
  @include opacity(1);
}

.overlay__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  // background-color: transparent !important;
  // background: url("../img/bg_white.gif");
  // background: url("../img/bg_white.gif")\9; //IE8
  // *background: url("../img/bg_white.gif");  //IE7
  @include opacity(0.9);
}

.fade-show {
  display: block;
  @include vendor(transition, 0.3s);
  @include opacity(1);
}

.modal__box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 700px;
  margin: -350px 0 0 -250px;
  border: 0 !important;
  background-color: transparent !important;
  // background: url("../img/bg_popup.png") no-repeat;
  // background: url("../img/bg_popup_low.png") no-repeat\9; //IE8
  // *background: url("../img/bg_popup_low.png") no-repeat; //IE7
  // background-color: #c00;
  text-align: center;
  z-index: 1;
}

.modal__inner {
  padding: 56px;
  color: #321f0e;
}

.modal-scroller,
.modal-scroller-photo {
  width: 684px;
  height: 532px;
  margin-left: 57px;
  position: relative;
  overflow: hidden;
  outline: none;
}

.modal-scroller-photo {
  margin-left: 57px;
}

.modal__title {
  padding-bottom: 40px;
  text-align: center;
  color: #ccc;
  font-size: 160%;
}

.modal__left {
  // width: 336px;
  // float: left;
}

.modal__pager {
  top: 420px;
  left: 50%;
  margin-left: -40px;
  position: absolute;
  li {
    float: left;
  }
}

.pager-off {
  width: 12px;
  height: 12px;
  margin-right: 10px;
  background: url("../img/sprites/pager_off.png") no-repeat;
  cursor: pointer;
}

.pager-on {
  width: 12px;
  height: 12px;
  margin-right: 10px;
  background: url("../img/sprites/pager_on.png") no-repeat;
  cursor: pointer;
}

.modal__slidearea {
  width: 590px;
  margin: auto;
  position: relative;
}

.modal__area {
  width: 4000px;
  height: 368px;
  position: relative;
  li {
    width: 590px;
    height: 368px;
  }
}

#footer {
  height: 45px;
  // min-width: 1020px;
  margin: auto;
  text-align: center;
  background: url('../img/bg_footer.jpg') repeat-x;

  li {
    display: inline-block;
    + li {
      @include pe;
      padding-left: 3px;
      border-left: 1px dotted #FFFFFF;
    }
  }
  a {
    padding: 10px 5px;
    color: #FFFFFF;
  }
}

.copyright {
  width: 100%;
  padding-top: 15px;
  color: #321f0e;
  font-size: 90%;
}

.to-top {
  // width: 1020px;
  margin: auto;
  bottom: 0;
  right: 50px;
  position: fixed;
  text-align: right;
  z-index: 12;
}

@import "helper";

/*
# State

状態を表すスタイル。
グローバルに使いそうなものを定義する。

*/

.is-hidden {
  display: none !important;
}

.is-loading {
  border: 0 !important;
  background-color: transparent !important;
  background-image: url("../img/loading.gif");
  @include background-size(30px 24px);
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px; // Hide text
  text-shadow: none; // Hide text
  color: transparent; // Hide text
}

// @import "animations";

/*
## sprites

spriteの定義。

*/
/* 
$sprites-layout: smart; // $sprite画像のディレクトリ（sprites）-属性（layout）: 値（smart）
$sprites-spacing: 2px;
@import "sprites/*.png";
$sprites: sprite-map("sprites/*.png");
@include all-sprites-sprites();
 */
//sprite画像のディレクトリを使ったテスト例
.sprites-sprite {
  display: inline-block;
  width: 16px;
  height: 16px;
}
