@charset "UTF-8";
/* Base */
/*
# Normalize

Nicolas Gallagher氏のNormalize.css（v2.0.1）を採用している。
なおNormalize.cssの新しいバージョンはIE7以下を切り捨てているため、本コードのアップデートはおこなわないようにする。

http://necolas.github.com/normalize.css/

*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

/*
* Prevents modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
* Addresses styling for `hidden` attribute not present in IE 8/9.
*/
[hidden] {
  display: none;
}

/*
* 1. Sets default font family to sans-serif.
* 2. Prevents iOS text size adjust after orientation change, without disabling
*  user zoom.
*/
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
* Removes default margin.
*/
body {
  margin: 0;
}

/*
* Addresses `outline` inconsistency between Chrome and other browsers.
*/
a:focus {
  outline: thin dotted;
}

/*
* Improves readability when focused and also mouse hovered in all browsers.
*/
a:active,
a:hover {
  outline: 0;
}

/*
* Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
* Safari 5, and Chrome.
*/
h1 {
  font-size: 2em;
}

/*
* Addresses styling not present in IE 8/9, Safari 5, and Chrome.
*/
abbr[title] {
  border-bottom: 1px dotted;
}

/*
* Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
*/
b,
strong {
  font-weight: bold;
}

/*
* Addresses styling not present in Safari 5 and Chrome.
*/
dfn {
  font-style: italic;
}

/*
* Addresses styling not present in IE 8/9.
*/
mark {
  background: #ff0;
  color: #000;
}

/*
* Corrects font family set oddly in Safari 5 and Chrome.
*/
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/*
* Improves readability of pre-formatted text in all browsers.
*/
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
* Sets consistent quote types.
*/
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/*
* Addresses inconsistent and variable font size in all browsers.
*/
small {
  font-size: 80%;
}

/*
* Prevents `sub` and `sup` affecting `line-height` in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/*
* Removes border when inside `a` element in IE 8/9.
*/
img {
  border: 0;
}

/*
* Corrects overflow displayed oddly in IE 9.
*/
svg:not(:root) {
  overflow: hidden;
}

/*
* Addresses margin not present in IE 8/9 and Safari 5.
*/
figure {
  margin: 0;
}

/*
* Define consistent border, margin, and padding.
*/
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
* 1. Corrects color not being inherited in IE 8/9.
* 2. Remove padding so people aren't caught out if they zero out fieldsets.
*/
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
* 1. Corrects font family not being inherited in all browsers.
* 2. Corrects font size not being inherited in all browsers.
* 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
*/
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/*
* Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
* the UA stylesheet.
*/
button,
input {
  line-height: normal;
}

/*
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*  and `video` controls.
* 2. Corrects inability to style clickable `input` types in iOS.
* 3. Improves usability and consistency of cursor style between image-type
*  `input` and others.
*/
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/*
* Re-set default cursor for disabled elements.
*/
button[disabled],
input[disabled] {
  cursor: default;
}

/*
* 1. Addresses box sizing set to `content-box` in IE 8/9.
* 2. Removes excess padding in IE 8/9.
*/
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
* 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
* 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
*  (include `-moz` to future-proof).
*/
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
* Removes inner padding and search cancel button in Safari 5 and Chrome
* on OS X.
*/
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
* Removes inner padding and border in Firefox 4+.
*/
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
* 1. Removes default vertical scrollbar in IE 8/9.
* 2. Improves readability and alignment in all browsers.
*/
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/*
* Remove most spacing between table cells.
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
# Resets

多くのプロジェクトでリセット、変更する可能性が高いスタイルを追記している。

*/
/*
* Reset browser default styles.
*/
h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
  margin-top: 0;
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
}

dd {
  margin-left: 0;
}

img {
  vertical-align: top;
}

button {
  border: 0;
  padding: 0;
  background-color: transparent;
}

/* Mixins */
/*
# Functions & Mixins
*/
/*
## Functions

*/
/*
`propety: half($value);`

数値を半分する関数。（小数点は切り上げ
）

<pre>
.image {
  width: half(160px); // 80px;
  height: half(160px); // 80px;
}
</pre>
　
*/
/*
## Mixins
*/
/*
### Gradient

汎用的に使われるグラデーションパターンを定義する。

*/
/*
### Properties

CSS3などベンダープレフィックスが必要なプロパティのヘルパー。
*/
/*
#### Vender prefix property

ベンダープレフィックスをつける基本ミックスイン。
第３引数に必要なベンダーを指定する。`-vender-`

**TODO:**

- ルールを揃えるためにコード書き直す
*/
/*
#### Image

画像関係を扱うミックスイン。

*/
/*
## Sprite by Koji Ishimoto
*/
/*
## Snippet

よく使われるプロパティセットの定義。
*/
/* Compass */
/* Variables */
/* Elements */
body {
  color: #444444;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  line-height: 1.5;
  font-size: 14px;
  background-color: #FFFFFF;
  -webkit-background-size: 150px 150px;
  background-size: 150px 150px;
}

a {
  text-decoration: none;
  color: inherit;
}

strong,
.strong {
  color: #ff00a2;
}

/*
# Modules
*/
/*===============
 PC / タブレット 横
===============*/
/*===============
 PC
===============*/
/*===============
 タブレット 横
===============*/
/*===============
 タブレット 縦
===============*/
/*===============
 スマートフォン
===============*/
@media screen and (max-width: 320px) {
  .img-logo {
    width: 320px;
  }
}
/*
# 共通のベーススタイルの定義。
*/
#page {
  min-height: 270px;
}
@media (min-height: 610px) {
  #page {
    min-height: 610px;
  }
}

ol {
  padding-left: 22px;
}

ol ol {
  padding-left: 16px;
  list-style-type: lower-roman;
}

ol li {
  margin-top: 8px;
}

/*
# Media

画像とテキスト（またその他）が並ぶパターン。

```
<div class="media clearfix>
  <img src="..." width="94" height="94" class="media-img">
  <p class="media-body">ここに文章がはいる</p>
</div>
```
*/
.media {
  display: block;
}

.media-img {
  float: left;
  margin-right: 10px;
}
.media-img.right {
  margin-right: 0;
  margin-left: 10px;
}
.media-img > img {
  display: block;
}

.media-body {
  overflow: hidden;
}

/*
# Page
*/
.page {
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

#footer {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 320px;
  text-align: center;
}
#footer li {
  display: inline-block;
}
#footer li + li {
  display: inline-block;
  content: "";
  padding-left: 3px;
  border-left: 1px dotted #FFFFFF;
}
#footer a {
  padding: 10px 5px;
  color: #FFFFFF;
}

/* 
## Helper

Helperは任意で使える補助クラス。
既存の要素や、コンポーネントに用意されていない場合に必要に応じて使えます。

例えば、`.main-nav`という自身にレイアウトのスタイルを持たないコンポーネントに対し、
`.left`を付与することで、`float: left`を得ることができる。

基本的には例外的に扱うべきであり、それが一定のパターンを持った場合には、元のコンポーネントに対しそれを拡張したものを用意するようにする。
*/
.right {
  float: right;
}

.left {
  float: left;
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.right-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-top {
  vertical-align: top;
}

.text-middle {
  vertical-align: middle;
}

.text-bottom {
  vertical-align: bottom;
}

.full {
  width: 100% !important;
}

.half {
  width: 50% !important;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.max {
  max-width: 100%;
}

/* Layout */
.mt0 {
  margin-top: 0px !important;
}

.mr0 {
  margin-right: 0px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.ml0 {
  margin-left: 0px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mr35 {
  margin-right: 35px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.ml35 {
  margin-left: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.pt0 {
  padding-top: 0px !important;
}

.pr0 {
  padding-right: 0px !important;
}

.pb0 {
  padding-bottom: 0px !important;
}

.pl0 {
  padding-left: 0px !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pr5 {
  padding-right: 5px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.pl5 {
  padding-left: 5px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pl15 {
  padding-left: 15px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pr25 {
  padding-right: 25px !important;
}

.pb25 {
  padding-bottom: 25px !important;
}

.pl25 {
  padding-left: 25px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.pt35 {
  padding-top: 35px !important;
}

.pr35 {
  padding-right: 35px !important;
}

.pb35 {
  padding-bottom: 35px !important;
}

.pl35 {
  padding-left: 35px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pr40 {
  padding-right: 40px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.pl40 {
  padding-left: 40px !important;
}

/* Font-size */
.giga {
  font-size: 24px !important;
}

.mega {
  font-size: 18px !important;
}

.xlarge {
  font-size: 16px !important;
}

.large {
  font-size: 14px !important;
}

.medium {
  font-size: 12px !important;
}

.small {
  font-size: 10px !important;
}

.mini {
  font-size: 8px !important;
}

.milli {
  font-size: 7px !important;
}

.bold {
  font-weight: bold;
}

.quiet {
  color: #777777;
}

.impassive {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.underline {
  text-decoration: underline !important;
}

.fluidimage {
  max-width: 100% !important;
}

/* 
## Clearfix
*/
.cf,
.clearfix,
.media {
  *zoom: 1;
}
.cf:before, .cf:after,
.clearfix:before,
.media:before,
.clearfix:after,
.media:after {
  display: table;
  content: "";
}
.cf:after,
.clearfix:after,
.media:after {
  clear: both;
}

/*
## 画像置換
*/
.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

/*
## テキストの末尾を丸める
*/
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
## テキストの強制折り返し
*/
.wrap {
  word-wrap: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/*
# State

状態を表すスタイル。
グローバルに使いそうなものを定義する。

*/
.is-hidden {
  display: none !important;
}

.is-loading {
  border: 0 !important;
  background-color: transparent !important;
  background-image: url("../img/loading.gif");
  -webkit-background-size: 30px 24px;
  background-size: 30px 24px;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
  text-shadow: none;
  color: transparent;
}

/* 
# Animations

アニメーション表現スタイル。
アニメーション関連のクラスにはすべて`anim`接頭辞をつける。

*/
/* Bourbon animation mixin */
.anim {
  -webkit-animation: anim-scale 1.2s ease-out 1;
  -moz-animation: anim-scale 1.2s ease-out 1;
  animation: anim-scale 1.2s ease-out 1;
  -webkit-transform-origin: 50% 50% 50%;
  transform-origin: 50% 50% 50%;
}

@-webkit-keyframes anim-scale {
  0% {
    -webkit-transform: scale(0, 0);
  }

  40% {
    -webkit-transform: scale(1.3, 1.3);
  }

  60% {
    -webkit-transform: scale(1, 1);
  }

  80% {
    -webkit-transform: scale(1.2, 1.2);
  }

  100% {
    -webkit-transform: scale(1, 1);
  }
}

@-moz-keyframes anim-scale {
  0% {
    -webkit-transform: scale(0, 0);
  }

  40% {
    -webkit-transform: scale(1.3, 1.3);
  }

  60% {
    -webkit-transform: scale(1, 1);
  }

  80% {
    -webkit-transform: scale(1.2, 1.2);
  }

  100% {
    -webkit-transform: scale(1, 1);
  }
}

@keyframes anim-scale {
  0% {
    -webkit-transform: scale(0, 0);
  }

  40% {
    -webkit-transform: scale(1.3, 1.3);
  }

  60% {
    -webkit-transform: scale(1, 1);
  }

  80% {
    -webkit-transform: scale(1.2, 1.2);
  }

  100% {
    -webkit-transform: scale(1, 1);
  }
}

@-webkit-keyframes anim-rotate360 {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

/*
## sprites

spriteの定義。

*/
.sprites-sprite, .sprites-ed, .sprites-f, .sprites-fgtr {
  background: url('../img/sprites.png') no-repeat;
}

.sprites-ed {
  background-position: 0 -60px;
}

.sprites-f {
  background-position: -60px 0;
}

.sprites-fgtr {
  background-position: 0 0;
}

.sprites-sprite, .sprites-ed, .sprites-f, .sprites-fgtr {
  display: inline-block;
  width: 16px;
  height: 16px;
}
