@charset "UTF-8";
/*===============
 タブレット 横
===============*/
@media screen and (max-width: 1224px) and (min-width: 769px) {

}





/*===============
 タブレット 縦
===============*/
@media screen and (max-width: 768px) and (min-width: 481px) {

}