
/* 
## Helper

Helperは任意で使える補助クラス。
既存の要素や、コンポーネントに用意されていない場合に必要に応じて使えます。

例えば、`.main-nav`という自身にレイアウトのスタイルを持たないコンポーネントに対し、
`.left`を付与することで、`float: left`を得ることができる。

基本的には例外的に扱うべきであり、それが一定のパターンを持った場合には、元のコンポーネントに対しそれを拡張したものを用意するようにする。
*/

.right {
  float: right;
}
.left {
  float: left;
}
.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.right-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

.text-top {
    vertical-align: top;
}
.text-middle {
    vertical-align: middle;
}
.text-bottom {
    vertical-align: bottom;
}

.full {
  width: 100% !important;
}
.half {
  width: 50% !important;
}

.autowidth {
  width: auto !important;
}

.block {
  display: block;
}
.inline {
  display: inline;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.max {
  max-width: 100%;
}

/* Layout */

.mt0 {
  margin-top: 0px !important;
}
.mr0 {
  margin-right: 0px !important;
}
.mb0 {
  margin-bottom: 0px !important;
}
.ml0 {
  margin-left: 0px !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mr5 {
  margin-right: 5px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.ml5 {
  margin-left: 5px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mr15 {
  margin-right: 15px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.mt25 {
  margin-top: 25px !important;
}
.mr25 {
  margin-right: 25px !important;
}
.mb25 {
  margin-bottom: 25px !important;
}
.ml25 {
  margin-left: 25px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mr30 {
  margin-right: 30px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.mt35 {
  margin-top: 35px !important;
}
.mr35 {
  margin-right: 35px !important;
}
.mb35 {
  margin-bottom: 35px !important;
}
.ml35 {
  margin-left: 35px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mr40 {
  margin-right: 40px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.ml40 {
  margin-left: 40px !important;
}

.pt0 {
  padding-top: 0px !important;
}
.pr0 {
  padding-right: 0px !important;
}
.pb0 {
  padding-bottom: 0px !important;
}
.pl0 {
  padding-left: 0px !important;
}
.pt5 {
  padding-top: 5px !important;
}
.pr5 {
  padding-right: 5px !important;
}
.pb5 {
  padding-bottom: 5px !important;
}
.pl5 {
  padding-left: 5px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pt15 {
  padding-top: 15px !important;
}
.pr15 {
  padding-right: 15px !important;
}
.pb15 {
  padding-bottom: 15px !important;
}
.pl15 {
  padding-left: 15px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pr20 {
  padding-right: 20px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.pt25 {
  padding-top: 25px !important;
}
.pr25 {
  padding-right: 25px !important;
}
.pb25 {
  padding-bottom: 25px !important;
}
.pl25 {
  padding-left: 25px !important;
}
.pt30 {
  padding-top: 30px !important;
}
.pr30 {
  padding-right: 30px !important;
}
.pb30 {
  padding-bottom: 30px !important;
}
.pl30 {
  padding-left: 30px !important;
}
.pt35 {
  padding-top: 35px !important;
}
.pr35 {
  padding-right: 35px !important;
}
.pb35 {
  padding-bottom: 35px !important;
}
.pl35 {
  padding-left: 35px !important;
}
.pt40 {
  padding-top: 40px !important;
}
.pr40 {
  padding-right: 40px !important;
}
.pb40 {
  padding-bottom: 40px !important;
}
.pl40 {
  padding-left: 40px !important;
}

/* Font-size */

.giga {
  font-size: 24px !important;
}
.mega {
  font-size: 18px !important;
}
.xlarge {
  font-size: 16px !important;
}
.large {
  font-size: 14px !important;
}
.medium {
  font-size: 12px !important;
}
.small {
  font-size: 10px !important;
}
.mini {
  font-size: 8px !important;
}
.milli {
  font-size: 7px !important;
}

.bold {
  font-weight: bold;
}

.quiet {
  color: #777777;
}

.impassive {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.underline {
  text-decoration: underline !important;
}

.fluidimage {
  max-width: 100% !important;
}

/* 
## Clearfix
*/
.cf,
.clearfix {
  *zoom:1;
  &:before,
  &:after{
      display: table;
      content: "";
  }
  &:after{
      clear: both;
  }
}

/*
## 画像置換
*/

.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

/*
## テキストの末尾を丸める
*/

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
## テキストの強制折り返し
*/

.wrap {
  word-wrap: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}


/* -----------------------------

## 各画面・パーツ別の設定

----------------------------- */


/*
## テキストの強制折り返し
*/
.siginin-container {
  width: 320px;
  margin: auto;
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
 /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px;
 /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}


/*
 * Search
 */
.search dt {
  width: 200px;
  padding-top: 5px;
  margin-bottom: 20px;
}

.search dd {
  /*width: 90%;*/
}